.empty-wrapper {
  width: 100%;
  height: 90%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
h1 {
  position: absolute;
  left: 70px;
  top: 342px;

  animation: slideUp 5s;
}

.empty-wrapper > img {
  width: 170px;
  position: absolute;
  right: 12%;
  top: 11%;
  display: inline-block;
}

.empty-wrapper > p {
  position: absolute;
  bottom: 1%;
  font-size: 14px;
}
@keyframes slideUp {
  from {
    top: 560px;
    opacity: 0;
  }
  to {
    top: 342px;
    opacity: 1;
  }
}
